$colornavbg: #121c2e;
$colortheme: #e00246;
$colortheme2: #fec254;
$colorbg1: #141f34;
$colorbg2: #141f34;

/*****FIRST PAGE*****/
div.page1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("../images/homebgimg2.jpg"), url("../images/homebgimg2low.jpg"),
    url("../images/homebgimg3low.jpg") no-repeat $colornavbg;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;

  /*navigation bar*/
  nav {
    padding-top: 8px;
    animation-name: fade;
    animation-duration: 2s;
    transition: 1s;
    z-index: 1;

    img.navbarlogoimg {
      width: 55px;
      margin-left: 40px;
      transition: 0.8s;
      cursor: pointer;
    }

    img.navbarlogoimg:hover {
      transform: scale(1.2);
    }
    span.collapsenavicon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    a.marginlink {
      margin-right: 35px;
    }

    span.navslash {
      font-weight: 700;
      position: relative;
      right: 15px;
      opacity: 0;
      transition: 0.5s ease-in-out;
    }

    a.medianavbar > span.slash1 {
      position: relative;
      margin-right: 1px;
      right: 30px;
    }

    a.medianavbar {
      font: 700 17px "Biryani", sans-serif;
      color: #fff;
      letter-spacing: 1px;
      cursor: pointer;
    }

    a.medianavbar:hover > span,
    a.medianavbar:checked > span {
      opacity: 1;
      right: 0;
    }

    a.medianavbar:hover {
      transform: scale(1.08);
      transition: 0.5s;
    }

    /*old hover
    a.medianavbar:hover, a.medianavbar:checked {    
        color: $colortheme;
        transition: 0.9s;
    }
    */
  }

  /*center section*/
  header.page1centersection {
    h4.page1centersection {
      font-family: "Marck Script";
      font-size: 5em;
      margin-bottom: -5px;
      animation-name: fade;
      animation-duration: 2s;
    }

    h1.page1centersection {
      font-family: "Biryani";
      font-weight: 800;
      font-size: 6em;
      margin-bottom: -20px;
      animation-name: fade;
      animation-duration: 2s;
    }

    span.slash1 {
      animation-name: slash1;
      animation-duration: 3s;
    }

    span.slash2 {
      animation-name: slash2;
      animation-duration: 3s;
    }

    hr.page1centersection {
      border: 1.5px solid $colortheme;
      width: 250px;
      animation-name: ease;
      animation-duration: 3.5s;
    }

    h2.page1centersection {
      font-family: "Biryani";
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 2em;
      animation-name: fadeslow;
      animation-duration: 4s;
    }

    a.centerbutton {
      animation-name: fadeslow;
      animation-duration: 5s;
    }
  }
}

/*RESPONSIVE*/
@media screen and (max-width: 767px) {
  /*responsive page headers*/
  h1.pageheader {
    font-size: 1.9em !important;
  }

  //   hr.pageheader {
  //     width: 70px !important;
  //   }

  h2.pageheader {
    font-size: 0.8em !important;
  }

  /*responsive navigation bar*/
  nav.medianavbar {
    background-color: $colornavbg !important;
    margin-top: 0 !important;
    padding: 10px 0 0px 0;

    #navcontainer {
      min-width: 100%;
    }

    img.navbarlogoimg {
      margin-left: 40px;
    }

    button.nti {
      margin-right: 30px;
    }

    a.medianavbar {
      margin: 0;
      text-align: center;
      padding: 30px 0 30px 0;
    }

    a.marginlink {
      margin-right: 0 !important;
    }

    a.medianavbar:link,
    a.medianavbar:visited {
      font: bold 19px "Yu Gothic UI Semibold";
      background-color: $colornavbg;
    }

    a.medianavbar:hover,
    a.medianavbar:checked {
      background-color: #1c2b49;
      color: #fff !important;
      transform: scale(1) !important;
    }
  }

  /*responsive first page*/
  .page1centersection {
    h4 {
      font-size: 2.5em !important;
    }

    h1.page1centersection {
      font-size: 3.5em !important;
    }

    hr.page1centersection {
      border: 1.5px solid $colortheme !important;
      margin-top: 25px;
      width: 150px !important;
    }

    h2.page1centersection {
      font-size: 2.5em !important;
    }

    h2.page1centersection {
      font-size: 0.9em !important;
      padding: 0 15px 0 15px;
    }

    a.centerbutton {
      font-size: 12px !important;
    }
  }

  /*responsive second page*/
  div.page2 {
    div.rowpage2 {
      padding: 15px 0 15px 0 !important;
    }

    ul.aboutme {
      font-size: 17px !important;
      padding-bottom: 0px !important;
      line-height: 23px !important;
    }

    img.aboutme {
      width: 150px !important;
      margin-top: 50px !important;
    }

    h3.aboutme {
      margin-top: 20px !important;
      font-size: 20px;
    }
  }

  /*responsive third page*/
  div.page3 {
    ul.expbars li:before {
      font-size: 18px !important;
    }

    li.expbars {
      font-size: 17px !important;
    }

    div.outsidebar {
      height: 20px;
      border-radius: 0.7em;
      margin-left: 10px !important;
    }
  }

  /*responsive fourth page*/
  div.page4 {
    span.closebutton {
      right: 15px !important;
      font-size: 80px !important;
    }

    i {
      font-size: 60px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    i.fa-angle-left {
      left: 5px !important;
    }

    i.fa-angle-right {
      right: 5px !important;
    }

    h2.lightbox {
      font-size: 20px;
    }

    a {
      font-size: 12px !important;
    }
  }

  /*responsive fifth page*/
  div.page5 {
    padding: 30px !important;

    form {
      margin-top: 70px !important;

      input,
      textarea {
        width: 260px !important;
      }

      div {
        width: 280px !important;
        margin-top: 10px;
        border-bottom: 1px solid #fff;

        i {
          float: left;
          padding-top: 9px;
        }
      }

      button {
        margin-top: 70px !important;
        padding: 8px 30px 8px 30px;
      }
    }

    h5 {
      margin-top: 50px !important;
      font-size: 16px;

      span.theme,
      span.theme2 {
        letter-spacing: 0;
      }
      span.light {
        margin-left: 5px;
        margin-right: -5px;
      }
    }
  }

  /*responsive footer*/
  footer {
    padding: 10px !important;
    text-align: center;

    a {
      padding: 7px !important;
      font-size: 30px !important;
      margin: 5px 10px;
    }

    a.fa-facebook {
      padding: 7px 12px !important;
    }
  }
}

/*SELECTION*/
::selection {
  background-color: #e00246;
}

/*SCROLL BAR STYLE*/
::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $colortheme;
}

* {
  color: #fff;
}

/*GENERAL*/
body {
  span.theme {
    font-family: "Biryani", sans-serif;
    font-weight: 300;
    color: $colortheme;
  }

  span.theme2 {
    font-family: "Biryani", sans-serif;
    color: $colortheme2;
    font-weight: 300;
  }

  span.light {
    font-family: "Biryani", sans-serif;
    font-weight: 300;
  }

  .centerbutton {
    font-size: 15px;
    padding: 11px 20px 11px 20px;
    letter-spacing: 2px;
    border-radius: 12px;
    transition: 0.9s;
    cursor: pointer;
  }
}

/*PAGE HEADERS*/
h1.pageheader {
  margin-top: 60px;
  font-family: "Biryani", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  // animation-name: fade;
  // animation-duration: 2s;
}

// span.slash1header {
//      animation-name: slash1;
//      animation-duration: 3s;
// }

// span.slash2header {
//      animation-name: slash2;
//      animation-duration: 3s;
// }

hr.pageheader {
  border: 1.5px solid $colortheme;
  width: 0px;
  transition: 0.7s;
}

h2.pageheader {
  margin-top: 25px;
  font-family: "Biryani", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.7);
  // animation-name: fade;
  // animation-duration: 3s;
}

/*animations*/
/*h1 slash 1*/
@keyframes slash1 {
  0% {
    opacity: 0;
    position: relative;
    right: 40%;
  }

  50% {
    opacity: 0;
    position: relative;
    right: 40%;
  }

  100% {
    opacity: 1;
    position: relative;
    right: 0;
  }
}

/*h1 slash 2*/
@keyframes slash2 {
  0% {
    opacity: 0;
    position: relative;
    right: 20%;
  }

  50% {
    opacity: 0;
    position: relative;
    right: 20%;
  }

  100% {
    opacity: 1;
    position: relative;
    right: 0;
  }
}

/*hr*/
@keyframes ease {
  0% {
    width: 0;
  }
}

/*navbar*/
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*h2*/
@keyframes fadeslow {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes lightboxslideright {
  0% {
    position: relative;
    left: 50%;
    opacity: 0;
  }

  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

@keyframes lightboxslideleft {
  0% {
    position: relative;
    right: 50%;
    opacity: 0;
  }

  100% {
    position: relative;
    right: 0;
    opacity: 1;
  }
}

@keyframes faderight {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0);
  }
}

/*button
   @keyframes button {
       0% {
           opacity: 0;
           position: relative;
           left: 20%;
       }

       50% {
           opacity: 0;
           position: relative;
           left: 20%;
       }

       100% {
           opacity: 1;
           position: relative;
           left: 0;
      }       
    }   */

/*****SECOND PAGE*****/
div.page2 {
  margin: 0;
  background-color: $colorbg1;
  overflow: hidden;
  height: 100%;

  div.rowpage2 {
    padding: 100px 0 100px 0;
  }

  ul.aboutme {
    padding: 50px;
    font-family: "Calibri";
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    list-style-type: none;
  }

  ul.aboutme li:before {
    content: "*";
    font-family: "Calibri";
    font-size: 20px;
    color: $colortheme;
    margin: 0 0.5em;
  }

  li.aboutme {
    margin-bottom: 20px;
  }

  img.aboutme {
    width: 200px;
    margin-top: 60px;
  }

  h3.aboutme,
  h3.aboutme span {
    font-size: 40px;
    font-family: "Marck Script", cursive;
    margin-top: 40px;
  }
}

/*****THIRD PAGE*****/
div.page3 {
  margin: 0;
  background: url("../images/thirdbgimg.jpg") no-repeat $colornavbg;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  height: 100%;

  ul.expbars {
    list-style-type: none;
    line-height: 2em;
    padding: 120px 0 100px 0;
  }

  ul.expbars li:before {
    content: "*";
    font-family: "Calibri";
    font-size: 30px;
    color: $colortheme;
    margin: 0 0.2em;
  }

  li.expbars {
    font-family: "Calibri";
    font-weight: bold;
    font-size: 25px;
    white-space: nowrap;
  }

  div.outsidebar {
    background-color: rgba(24, 33, 50, 0.5);
    height: 20px;
    border-radius: 2em;
    margin-left: 20px;
  }

  div.insidebar {
    background-color: $colortheme;
    border-radius: 20px;
    // animation: 2.5s easeright;
  }

  div.reactbar {
    width: 37%;
  }

  div.photoshopbar {
    width: 85%;
  }

  /*animations - go to div.insidebar!
    @keyframes easeright {
        0% {
            width: 0%;
        }
    }*/
}

/*****FOURTH PAGE*****/
div.page4 {
  margin: 0;
  padding-bottom: 0;
  background-color: $colorbg1;
  overflow: hidden;
  height: 100%;

  div.page4container {
    padding: 0;
  }

  h2.mywork {
    margin-bottom: 130px;
  }

  div.mywork {
    background-color: $colorbg1;
    padding: 0;

    div.imagecol {
      padding: 0;
      position: relative;
      cursor: pointer;

      img.mywork {
        width: 100%;
      }

      div.overlay {
        background-color: $colorbg2;
        position: absolute;
        opacity: 0.98;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        overflow: hidden;
        height: 100%;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;

        h1 {
          font-size: 30px;
          text-align: center;
        }

        hr {
          border: solid 1px $colortheme;
          width: 30px;
        }

        h2 {
          opacity: 0.9;
          font-size: 15px;
          font-weight: 300;
          letter-spacing: 5px;
          text-align: center;
        }
      }
    }

    div.overlaycontent {
      opacity: 0;
      transition: 0.75s;
    }

    div.imagecol:hover div.overlay {
      width: 100%;
    }

    div.imagecol:hover div.overlaycontent {
      opacity: 1;
    }
  }

  .hiderow {
    display: none;
  }

  div.lightboxblock {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    background-color: rgba(24, 33, 50, 1);
    z-index: 2;

    span.closebutton,
    i {
      color: #fff;
      cursor: pointer;
    }

    span.closebutton:hover,
    i:hover {
      opacity: 0.7;
    }

    span.closebutton {
      position: absolute;
      top: -30px;
      right: 40px;
      font-size: 120px;
    }

    i {
      position: absolute;
      font-size: 80px;
      padding: 30px;
      padding-top: 30vh;
      padding-bottom: 30vh;
    }

    i.fa-angle-left {
      left: 80px;
    }

    i.fa-angle-right {
      right: 80px;
    }

    .lightboxslideleft {
      animation-name: lightboxslideleft;
      animation-duration: 0.5s;
    }

    .lightboxslideright {
      animation-name: lightboxslideright;
      animation-duration: 0.5s;
    }

    div.lightboxcontainer {
      text-align: center;
      display: none;

      img.lightboximg {
        height: 80vh;
        margin: 20px;
      }

      h2.lightbox a {
        color: $colortheme;
      }

      h2.lightbox {
        font-weight: 600;
      }
    }
  }

  div.loadmore {
    background-color: $colortheme;
    padding: 2.5vh;
    margin: 0;
  }
}

/*****FIFTH PAGE*****/
div.page5 {
  margin: 0;
  background-color: $colorbg1;
  overflow: hidden;
  height: 100%;
  background: url("../images/fourthbgimg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;

  form {
    margin-top: 120px;
    text-align: center;

    input,
    textarea {
      width: 570px;
      background: transparent;
      border: none;
      padding: 7px 5px;
      outline: none;
    }

    textarea {
      resize: none;
    }

    div {
      display: inline-block;
      width: 600px;
      margin-top: 10px;
      border-bottom: 1px solid #fff;

      i {
        float: left;
        padding-top: 9px;
      }
    }

    button {
      margin-top: 80px;
      padding: 8px 30px 8px 30px;
    }
  }

  h5 {
    text-align: center;
    margin-top: 80px;
    font-family: "Biryani", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;

    span.theme,
    span.theme2 {
      letter-spacing: 0;
    }
    span.light {
      margin-left: 5px;
      margin-right: -5px;
    }
  }
}

/*****FOOTER*****/
footer {
  background-color: $colortheme;
  padding: 15px;
  text-align: center;

  a {
    padding: 10px;
    font-size: 30px !important;
    margin: 5px 10px;
    border-radius: 50%;
    background: #fff;
    color: $colortheme;
    transition: 0.7s;
  }

  a.fa-facebook {
    padding: 10px 15px;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
    background: transparent;
  }
}
