/*****RESPONSIVE*****/
@media screen and (max-width: 767px) {
    nav.medianavbar {
        background-color: #1c2639;
        margin-top: 0;
    }

    a.medianavbar {
        margin: 0;
        text-align: center;
    }

    a.marginlink {
        margin-right: 0 !important;
    }

    a.medianavbar:link, a.medianavbar:visited {
        font: bold 19px 'Yu Gothic UI Semibold';
        color: #fff;
        background-color: #1c2639;
    }

    a.medianavbar:hover, a.medianavbar:checked {
        background-color: #e00246;
        color: #fff !important;
    }

}

/*****FIRST PAGE*****/
div.page1 {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../images/homebgimg.jpg') no-repeat #1c2639;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}
/*navigation bar*/
nav {
    margin-top: 8px;
}

.navbarlogoimg {
    width: 55px;
}
span.collapsenavicon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a.marginlink {
    margin-right: 35px;
}

a.medianavbar:link, a.medianavbar:visited {
    font: bold 19px 'Yu Gothic UI Semibold';
    color: #fff;
}

a.medianavbar:hover, a.medianavbar:checked {
    color: #e00246;
}


/*center section*/
.page1centersection {
    color: #fff;
}

h1.page1centersection {
    font-family: 'Leckerli One';
    font-size: calc(10vh + 20px);
    letter-spacing: -2px;
    margin-bottom: -15px;
    margin-top: 20vh;
}

hr.page1centersection {
    border: 1.5px solid #e00246;
    width: 40vh;
}

h2.page1centersection {
    font-weight: 400;
    font-size: calc(3vh + 20px);
    margin-top: -5px;
}

h3.page1centersection {
    font-family: 'verdana';
    font-size: calc(1vh + 7px);
}

/*footer*/
footer.page1footer {
    margin-top: calc(24vw - 100px);
    padding:0 !important;
}

a.page1arrow:link, a.page1arrow:visited {
    color: #fff !important;
    font-size: 30px;
}

a.page1arrow:hover, a.page1arrow:checked {
    color: #e00246 !important;
    font-size: 30px;
}

/*****SECOND PAGE*****/
div.page2 {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #192335;
    overflow: auto;
}